/* Body must have padding at the top so navbar does not cover content by default */
body {
	font-family: 'Old Standard TT', serif;

	background-color: #fdc673;

	padding-top: 70px;
}

/* Custom navbar */
.navbar-custom {
	background-color: #4F2F4F;

	height: 60px;
	overflow: hidden;
}

.navbar p {
	font-size: 1.2em;
}

.navbar-texture {
	background-image: url('../images/navbar-texture.png');

	position: fixed;
	top: 0px;
	height: 600px;
	width: 100%;
	z-index: -1;
}

/* Customize the bootstrap jumbotron which shows when not logged in */
.jumbotron {
	background-color: #4F2F4F;
	color: #ffffff;
}

.jumbotron h1 {
	font-family: 'Abril Fatface', cursive;
}

/* Need to adjust the position of the message glyph */
.notifications-icon {
	bottom: 10px;
}

.unread {
	color: #286090;
}

/* CSS for the main column */
.main-column {
	background-color: #FFFFFF;

	padding: 30px 30px 30px 30px;
	margin-bottom: 30px;

	/* Do not want to shrink too small. Use same on navBar center */
	min-width: 768px;

	border-radius: 25px 25px 25px 25px;
}

/* CSS class to center the main column */
.col-centered {
	float: none;
	margin: 0 auto;
}

/* Class for the submission text area, it is assigned in forms.py */
.pimpProseSubmit {
	width: 50%;
	margin-left: 25%;
	height: 100px;
	resize: none;
}

.pimpProseSubmitBtn {
	margin-left: 25%;
}

/* Div which holds the remaining characters for the pimpProse text area */
#remainingCharacters {
	display: inline-block;
	margin-left: 5px;
}

/*-------------------------
CSS for index page
--------------------------*/
/* Label for the prose_form on index */
.pimpProse_form_label {
	margin-left: 25%;
}


/* Table CSS for both pimps and proses */
/* Individual cell CSS */

/* New pimpProseBox for all posts */
.pimpProseBox {
	background-color: #FFFFFF;

	width: 100%;

	margin: 0 0 15px 0;
	padding: 0 15px 0 15px;

	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 1px solid #9D9D9D;
}

/* Alternate background color of posts to distinguish them */
.pimpProseBox:nth-child(odd) {
	background-color: #fffff0;
}

.pimpProseBox a {
	color: #4F2F4F;
}

.pimpProseBox h3 {
	margin-right: 10px;
}

.pimpProseBox h3, h4 {
	display: inline-block;
}

.pimpProseBox h4 {
	padding-right: 0.3em;
}

.pimpProseBox p {
	padding-bottom: 50px;
}

.pimpProseBox h4, h5 {
	color: #9D9D9D;
}

.pimpProseBox h5 {
	float: right;
	margin: -40px 0 0 0;
}

.pimpProseBox .btn {
	margin: 0 0 0 25px;
}

/* Voting Arrows */
.voteArrow {
	cursor: pointer;
}

.voteArrow:hover {
	color: red;
}

/* Table containing stats for a specific user */
.table-userStats {
	table-layout: fixed;
	border-collapse: collapse;

	width: 50%;
	margin: 0 0 0 25%;

	border-bottom: solid rgba( 40, 96, 144, 0.6 ) 3px;
}

.table-userStats th, td {
	text-align: center;
	padding: 0;
	margin: 0;
}

.table-userStats th {
	font-size: 0.8em;
}

.table-userStats td {
	font-size: 1.2em;
	color: rgb( 40, 96, 144 );
}

/* CSS For the follow button */
.followButton {
	font-size: 0.7em;
	width: 90px;
}

/* Unread prose table cell */
.unreadResponse {
	background-color: #FDC673;
}

/* Make forms on register and login page look better */
.form-control-custom {
	width: 30%;
}
