/* CSS class to center the main column */
.col-centered {
	float: none;
	margin: 0 auto;
}

/* CSS Class to add margin to the status text ('You are signed in as .... ') */
.statusText {
	margin-right: 3px;
}

/* Class for the submission text area, it is assigned in forms.py */
.pimpProseSubmit {
	width: 100%;
	height: 60px;
	resize: none;
}

/* Table CSS for both pimps and proses */
/* Header rows */
.pimpProseTableHeader {
	font-size: 0.9em;
}

/* CSS for non-header rows */
.pimpProseTableOtherRows {
	font-size: 0.8em;
}

/* Voting Arrows */
.voteArrow {
	width: 0;
	height: 0;
	border-left: 9px solid transparent;
	border-right: 9px solid transparent;
	
	cursor: pointer;
}

.voteArrowUp {
	border-bottom: 9px solid black;
	
	margin: 0 0 4px 0;
}

.voteArrowDown {	
	border-top: 9px solid #286090;
}

/* CSS For the follow button */
.followButton {
	font-size: 0.7em;
	width: 75px;
}