{% load staticfiles %}
<html>
	<head>
		<link href="{% static 'bootstrap/css/bootstrap.min.css' %}"
			rel="stylesheet" media="screen">
		<link href="{% static 'css/main.css' %}" rel="stylesheet" media="screen">

		<title>{% block title %}pimpMyProse{% endblock %}</title>
		
	</head>
	
	<body>
		<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		<script src="{% static 'js/main.js' %}"></script>
	
		<div class="container">
			<div class="row-fluid">
				<!-- Background color from bootstrap class. Move height property to css file -->
				<div class="col-md-6 col-centered" style="height: 100%;">
				
					{% include "prose/navBar.html" %}
					
					{% block content %}
					{% endblock %}
				</div>
			</div>
		</div>
	</body>
</html>