{% extends "prose/base.html" %}
{% load staticfiles %}
{% block title %}pimpMyProse - Viewing a Prose{% endblock %}

{% block content %}

{% if user.is_authenticated and user != prose.user and not user.userProfile.getPimpsAmt %}
<div class="jumbotron">
	<h2>Help <a href="{% url 'prose:profile' prose.user.id %}">{{ prose.user.username }}</a> by Pimping your first Prose!</h2>
	<p>
		{{ prose.user.username }} is looking for help with their Prose, show what you have to offer!
	</p>
</div>

{% endif %}

<div class="pimpProseBox">
	<h3><a href="{% url 'prose:profile' prose.user.id %}">{{ prose.user.username }}</a></h3>
	<p>{{ prose.prose_text }}</p>
	<p></p>
</div>
<a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="//www.redditstatic.com/spreddit1.gif" alt="submit to reddit" border="0" /> </a>
<br>

{% if user.is_authenticated %}

	{% if prose.user != user %}
	<!-- Form to post a new Pimp -->
	<form id="pimp_form" method="post" action="{% url 'prose:detail' prose.id %}">
		{% csrf_token %}

		<div class="pimpProse_form_label">Pimp this Prose:</div>
		{{ pimp_form.as_p }}

		<button type="submit" class="btn btn-primary pimpProseSubmitBtn" name="submit">Pimp</button>
		<div id="remainingCharacters"></div>
	</form>
	{% endif %}

{% else %}
Must be logged in to pimp this prose!

{% endif %}

<br>

{% include "prose/pimp_list_angular.html" %}

{% endblock %}

{% block angularJS %}
<!-- Load angularJS, mainApp, and default django URLs -->
{% include "prose/angularJS.html" %}

<!-- For the detail page, get the id of the current prose and load as query parameter -->
<script>var pimpsQueryParameter = '?prose_id=' + {{ prose.id }};</script>

<!-- Load the controller for the detail page -->
<script src="{% static 'js/angular/pimpsController.js' %}"></script>
{% endblock %}
