{% extends "prose/base.html" %}
{% block title %}pimpMyProse - Viewing a Prose{% endblock %}

{% block content %}

{% if user.is_authenticated and user != prose.user and not user.userProfile.getPimpsAmt %}
<div class="jumbotron">
	<h2>Help <a href="{% url 'prose:profile' prose.user.id %}">{{ prose.user.username }}</a> by Pimping your first Prose!</h2>
	<p>
		{{ prose.user.username }} is looking for help with their Prose, show what you have to offer!
	</p>
</div>

{% endif %}

<div class="pimpProseBox">
	<h3><a href="{% url 'prose:profile' prose.user.id %}">{{ prose.user.username }}</a></h3>
	<p>{{ prose.prose_text }}</p>
	<p></p>
</div>
<a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="//www.redditstatic.com/spreddit1.gif" alt="submit to reddit" border="0" /> </a>
<br>

{% if user.is_authenticated %}

	{% if prose.user != user %}
	<!-- Form to post a new Pimp -->
	<form id="pimp_form" method="post" action="{% url 'prose:detail' prose.id %}">
		{% csrf_token %}

		{{ pimp_form.as_p }}

		<button type="submit" class="btn btn-primary pimpProseSubmitBtn" name="submit">Pimp</button>
	</form>
	{% endif %}

{% else %}
Must be logged in to pimp this prose!

{% endif %}

<br>

<div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownFilter" data-toggle="dropdown" aria-expanded="true">
		sorted by: {{ filter }}
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownFilter">
		<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'prose:detail' prose.id 'top' %}">Top</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'prose:detail' prose.id 'new' %}">New</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'prose:detail' prose.id 'worst' %}">Worst</a></li>
		<li role="presentation"><a role="menuitem" tabindex="-1" href="{% url 'prose:detail' prose.id 'old' %}">Old</a></li>
	</ul>
</div>

<br>
{% include "prose/pimp_list.html" %}

{% endblock %}
