{% extends "prose/base.html" %}
{% block content %}

<h1>{{ prose.prose_text }}</h1>
<ul>
	{% for pimp in rankedPimps %}
		<li>{{ pimp.pimp_text }} | <a href="{% url 'prose:upvote' pimp.id %}">up:</a> {{ pimp.upvotes.count }} | <a href="{% url 'prose:downvote' pimp.id %}">down:</a> {{ pimp.downvotes.count }} | <a href="{% url 'prose:profile' pimp.user.id %}">{{ pimp.user.username }}</a> | SCORE: {{ pimp.score }}</li>
	{% endfor %}
</ul>

{% if user.is_authenticated %}
<!-- Form to post a new Pimp -->
<form id="pimp_form" method="post" action="{% url 'prose:detail' prose.id %}">
	{% csrf_token %}
	
	{{ pimp_form.as_p }}
	
	<button type="submit" class="btn btn-primary" name="submit">Pimp It!</button>
</form>

{% else %}
Must be logged in to pimp this prose!

{% endif %}

{% endblock %}