{% extends "prose/base.html" %}
{% load staticfiles %}
{% block title %}pimpMyProse - Prose of Users Followed by {{ userProfile.user.username }}{% endblock %}

{% block content %}
<h2>Prose from users followed by <a href="{% url 'prose:profile' userProfile.user.id %}">{{ userProfile.user.username }}</a>:</h2>
{% include "prose/prose_list_angular.html" %}

{% endblock %}

{% block angularJS %}
<!-- Load angularJS, mainApp, and default django URLs -->
{% include "prose/angularJS.html" %}

<!-- For the profile_pimp page, get the id of the current user -->
<script>var proseQueryParameter = '?user_id=' + {{ userProfile.user.id }} + '&follows=true';</script>

<!-- Load the controller for the profile_pimps page -->
<script src="{% static 'js/angular/proseController.js' %}"></script>
{% endblock %}
