{% extends "prose/base.html" %}
{% block title %}pimpMyProse - Prose of Users Followed by {{ userProfile.user.username }}{% endblock %}

{% block content %}
{% if following_prose %}
<h2>Prose from users followed by <a href="{% url 'prose:profile' userProfile.user.id %}">{{ userProfile.user.username }}</a>:</h2>
  {% for prose in following_prose %}
    {% include "prose/prose_list_item.html" %}

  {% endfor %}

{% else %}
No Prose from users that {{ userProfile.user.username }} is following.

{% endif %}

{% endblock %}
