{% extends "prose/base.html" %}
{% block content %}

{% if user.is_authenticated %}
<h1>pimpMyProse says... hello <a href="{% url 'prose:profile' user.id %}">{{ user.username }}</a>!</h1>
<a href="{% url 'prose:logout' %}">Logout</a>
{% else %}
<a href="{% url 'prose:register' %}">Register Here</a>
<a href="{% url 'prose:login' %}">Login</a>
{% endif %}

{% if latest_prose_list %}
	<ul>
	{% for prose in latest_prose_list %}
		<li><a href="{% url 'prose:detail' prose.id %}">{{ prose.prose_text }}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No prose are available.</p>
{% endif %}

{% if user.is_authenticated %}
<!-- Form to post a new Prose -->
<form id="prose_form" method="post" action="{% url 'prose:index' %}">
	{% csrf_token %}
	
	{{ prose_form.as_p }}
	
	<button type="submit" class="btn btn-primary" name="submit" />Prose it!</button>
</form>

{% else %}
Must be logged in to prose!

{% endif %}

{% endblock %}