{% extends "prose/base.html" %}
{% load staticfiles %}
{% block title %}pimpMyProse{% endblock %}

{% block content %}

{% if user.is_authenticated %}

{% if not user.userProfile.getProsesAmt %}
<div class="jumbotron">
	<h2>Post your first Prose!</h2>
	<p>
		Say something, anything! People are here to help you say what you want to say, better!
	</p>
</div>

{% elif not user.userProfile.getPimpsAmt %}
<div class="jumbotron">
	<h2>Help someone by Pimping your first Prose!</h2>
	<p>
		A lot of people need help with their Prose, show what you have to offer!
	</p>
</div>

{% endif %}

<!-- Form to post a new Prose -->
<form id="prose_form" method="post" action="{% url 'prose:index' %}">
	{% csrf_token %}

	<div class="pimpProse_form_label">Post a new Prose:</div>
	{{ prose_form.as_p }}

	<button type="submit" class="btn btn-primary pimpProseSubmitBtn" name="submit" />Prose</button>
	<div id="remainingCharacters"></div>
</form>

<!-- Links for user to view Prose and Pimps from followed users -->
<br>
<a href="{% url 'prose:following_prose' user.id %}">View Prose</a> from users you are following.<br>
<a href="{% url 'prose:following_pimps' user.id %}">View Pimps</a> from users you are following.<br>

{% else %}
Must be logged in to prose!

{% endif %}

<br>

<h2>All new proses</h2>
{% include "prose/prose_list_angular.html" %}

{% endblock %}

{% block angularJS %}
<!-- Load angularJS, mainApp, and default django URLs -->
{% include "prose/angularJS.html" %}

<!-- For the profile_pimp page, get the id of the current user -->
<script>var proseQueryParameter = '';</script>

<!-- Load the controller for the profile_pimps page -->
<script src="{% static 'js/angular/proseController.js' %}"></script>
{% endblock %}
