{% load staticfiles %}
<nav class="navbar navbar-default">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="{% url 'prose:index' %}">
				<img alt="pimpMyProse" src="{% static 'images/navLogo.png' %}">
			</a>
		</div>
		
		{% if user.is_authenticated %}
		<a href="{% url 'prose:logout' %}"><button type="button" class="btn btn-default navbar-btn">Logout</button></a>
		<p class="navbar-text navbar-right statusText">Signed in as <a href="{% url 'prose:profile' user.id %}">{{ user.username }}</a></p>
		
		{% else %}
		<a href="{% url 'prose:register' %}"><button type="button" class="btn btn-default navbar-btn">Register</button></a>
		<a href="{% url 'prose:login' %}"><button type="button" class="btn btn-default navbar-btn">Login</button></a>
		
		{% endif %}
	</div>
</nav>