{% load staticfiles %}
<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
	<div class="container-fluid col-md-10 navbar-center">
		<div class="navbar-header">
			<a class="navbar-brand" href="{% url 'prose:index' %}">
				pimpMyProse
			</a>
		</div>
		
		<form class="navbar-form navbar-left" role="search" action="{% url 'prose:haystack_search' %}">
			<div class="form-group">
				<input name="q" type="text" class="form-control" placeholder="Search Proses">
			</div>
			<button type="submit" class="btn btn-sm btn-primary">Go</button>
		</form>
		
		<ul class="nav navbar-nav navbar-right">

			{% if user.is_authenticated %}
			<li><a href="{% url 'prose:logout' %}"><button type="button" class="btn btn-sm btn-primary">Logout</button></a></li>
			<li><a class="notifications-icon" href="{% url 'prose:notifications' %}"><p class="navbar-text"><span class="glyphicon glyphicon-comment {% if user.userProfile.hasNotifications %}unread{% endif %}"></span> ({{ user.userProfile.getNotificationsCount }})</p></a></li>
			<li><p class="navbar-text">Signed in as <a href="{% url 'prose:profile' user.id %}">{{ user.username }}</a></p></li>
			
			{% else %}
			<li><a href="{% url 'prose:register' %}"><button type="button" class="btn btn-sm btn-primary">Register</button></a></li>
			<li><a href="{% url 'prose:login' %}"><button type="button" class="btn btn-sm btn-primary">Login</button></a></li>
		
		{% endif %}
		
		</ul>
	</div>

</nav>

<div class="navbar-texture"></div>