<!-- This exists separately from pimp_list, since the pimp_list_item's must be styled differently to distinguish them -->

<h2>Pimp Responses:</h2>
{% if pimp_response_list %}
<div class="table-responsive">
	<table class="table">
		
		{% if pimp_notification_list %}
		{% for pimp in pimp_notification_list %}
		{# Same as pimp_list_item, just green header #}
		<tr class="pimpProseTableHeader">
			<th class="success">
				<p class="pimpProseTableHeaderUser"><a href="{% url 'prose:profile' pimp.user.id %}">{{ pimp.user.username }}</a></p>
				&nbsp;&nbsp;&nbsp;&nbsp;<p id="pimp_{{ pimp.id }}_score" class="pimpProseTableHeaderText">{{ pimp.score }}</p>
				&nbsp;&nbsp;&nbsp;&nbsp;{% include "prose/voting_interface.html" %}
				&nbsp;&nbsp;&nbsp;&nbsp;<p class="pimpProseTableHeaderText">{{ pimp.percentMatch }}%&nbsp;&nbsp;match</p>
			</th>
		</tr>
		<tr class="pimpProseTableOtherRows">
			<th>
				{% if pimp_list_profile %}
				<a href="{% url 'prose:detail' pimp.prose_id %}">{{ pimp.pimp_text }}</a>
				{% else %}
				{{ pimp.pimp_text }}
				{% endif %}
			</th>
		</tr>
		{% endfor %}
		{% endif %}
		
		{% for pimp in pimp_response_list %}
			{% include "prose/pimp_list_item.html" %}
		{% endfor %}
	</table>
</div>

{% else %}
<p>You have no Pimp responses.</p>
{% endif %}