<tr class="pimpProseTableHeader">
	<th class="pimpProsePurpleCell">
		<p class="pimpProseTableHeaderUser"><a href="{% url 'prose:profile' pimp.user.id %}">{{ pimp.user.username }}</a></p>
		&nbsp;&nbsp;&nbsp;&nbsp;<p id="pimp_{{ pimp.id }}_score" class="pimpProseTableHeaderText">{{ pimp.score }}</p>
		&nbsp;&nbsp;&nbsp;&nbsp;{% include "prose/voting_interface.html" %}
		&nbsp;&nbsp;&nbsp;&nbsp;<p class="pimpProseTableHeaderText">{{ pimp.percentMatch }}%&nbsp;&nbsp;match</p>
	</th>
</tr>
<tr class="pimpProseTableOtherRows">
	<th>
		{% if pimp_list_profile %}
		<a href="{% url 'prose:detail' pimp.prose_id %}">{{ pimp.pimp_text }}</a>
		{% else %}
		{{ pimp.pimp_text }}
		{% endif %}
	</th>
</tr>