{% if pimp_list %}
<div class="table-responsive">
	<table class="table">
		<tr class="pimpProseTableHeader">
			<th><center>Score</center></th>
			<th>Vote</th>
			<th>Pimp</th>
			<th><center>Match %</center></th>
			<th><center>User</center></th>
		</tr>
		{% for pimp in pimp_list %}
		<tr class="pimpProseTableOtherRows">
			<th><center id="pimp_{{ pimp.id }}_score">{{ pimp.score }}</center></th>
			<th>{% include "prose/voting_interface.html" %}</th>
			<th>{{ pimp.pimp_text }}</a></th>
			<th><center>{{ pimp.percentMatch }}</center></th>
			<th><center><a href="{% url 'prose:profile' pimp.user.id %}">{{ pimp.user.username }}</a></center></th>
		</tr>
		{% endfor %}
	</table>
</div>

{% else %}
<p>There are no Pimps.</p>
{% endif %}