<!-- pimps list app/controller -->
<div ng-app="mainApp" ng-controller="pimpsController">
  <!-- AngularJS orderby implementation -->
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownFilter" data-toggle="dropdown" aria-expanded="true">
      sorted by: {[{ currentOrderBy }]}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownFilter">
      <li role="presentation" ng-repeat="orderBy in orderBy_set">
        <a role="menuitem" tabindex="-1" ng-click="setOrder( orderBy )">{[{ orderBy }]}</a>
      </li>
    </ul>
  </div>

  <br>

  <span ng-hide="numPages < 2">
    <button ng-click="previousPage()" ng-disabled="!pimps.previous" class="btn btn-sm btn-primary paginationButton">previous</button>
    {[{ currentPage }]} / {[{ numPages }]}
    <button ng-click="nextPage()" ng-disabled="!pimps.next" class="btn btn-sm btn-primary paginationButton">next</button>
  </span>
  <br><br>

  <!-- Print all the pimps here -->
  <div ng-show="pimps.results">
      <div class="pimpProseBox" ng-repeat="pimp in pimps.results">
        <h3><a href="{[{ profileURL + pimp.user_id }]}">{[{ pimp.username }]}</a></h3>

        <h4 id="pimp_{[{ pimp.id }]}_score">{[{ pimp.upvotes - pimp.downvotes }]}</h4>
        <h4>points</h4>
        <h4>
          <span data-pimp_id="{[{ pimp.id }]}" class="upvote voteArrow glyphicon glyphicon-triangle-top"></span>
          <span data-pimp_id="{[{ pimp.id }]}" class="downvote voteArrow glyphicon glyphicon-triangle-bottom"></span>
        </h4>
        <h4>{[{ pimp.percentMatch }]}% match</h4>

        <p>{[{ pimp.pimp_text }]}</p>
        <h5 ng-hide="hideParentLink">
          <a href="{[{ proseURL + pimp.prose_id }]}">view parent Prose</a>
        </h5>
      </div>

  </div>
  <p ng-hide="pimps.results">There are no Pimps.</p>

</div>
