{% extends "prose/base.html" %}
{% load staticfiles %}
{% block title %}All Pimps from {{ userProfile.user.username }}{% endblock %}

{% block content %}

<h2>All Pimps from {{ userProfile.user.username }}</h2>

<div ng-app="mainApp" ng-controller="profilePimpsController">{% include "prose/pimp_list_angular.html" %}</div>

{% endblock %}

{% block angularJS %}
<!-- Load angularJS, mainApp, and default django URLs -->
{% include "prose/angularJS.html" %}

<!-- For the profile_pimp page, get the id of the current user -->
<script>var user_id = {{ userProfile.user.id }};</script>

<!-- Load the controller for the detail page -->
<script src="{% static 'js/angular/profilePimpsController.js' %}"></script>
{% endblock %}
