{% extends "prose/base.html" %}
{% block content %}

<h1>{{ userProfile.user.username }}</h1>
<h1>{{ userProfile.website }}</h1>
<ul>
	{% for prose in latest_prose_list %}
		<li>{{ prose.prose_text }}</li>
	{% endfor %}
<ul>
	{% for pimp in latest_pimp_list %}
		<li>{{ pimp.pimp_text }} | <a href="{% url 'prose:upvote' pimp.id %}">up:</a> {{ pimp.upvotes.count }} | <a href="{% url 'prose:downvote' pimp.id %}">down:</a> {{ pimp.downvotes.count }} | <a href="{% url 'prose:profile' pimp.user.id %}">{{ pimp.user.username }}</a> | SCORE: {{ pimp.score }}</li>
	{% endfor %}
</ul>

{% endblock %}