<tr class="pimpProseTableHeader">
	<th><p class="pimpProseTableHeaderUser"><a href="{% url 'prose:profile' prose.user.id %}">{{ prose.user.username }}</a></p>
	<p class="pimpProseTableHeaderText">&nbsp;&nbsp;&nbsp;&nbsp;{{ prose.pimpScoreSum }} total points&nbsp;&nbsp;-&nbsp;&nbsp;{{ prose.pimp_set.count }} Pimps&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'prose:detail' prose.id %}">Pimp-it</a></p></th>
</tr>
<tr class="pimpProseTableOtherRows">
	<th>{{ prose.prose_text }}</th>
</tr>