{% if prose_list %}
<div class="table-responsive">
	<table class="table">
		<tr class="pimpProseTableHeader">
			<th><center>Full Score</center></th>
			<th>Prose</th>
			<th><center>User</center></th>
		</tr>
		{% for prose in prose_list %}
		<tr class="pimpProseTableOtherRows">
			<th><center>{{ prose.pimpScoreSum }}</center></th>
			<th><a href="{% url 'prose:detail' prose.id %}">{{ prose.prose_text }}</a></th>
			<th><center><a href="{% url 'prose:profile' prose.user.id %}">{{ prose.user.username }}</a></center></th>
		</tr>
		{% endfor %}
	</table>
</div>

{% else %}
<p>There are no Prose.</p>
{% endif %}