{% extends "prose/base.html" %}
{% block title %}pimpMyProse - Register{% endblock %}

{% block content %}

<h1>Register with pimpMyProse</h1>

{% if user.is_authenticated %}
pimpMyProse says: <strong>You are already registered!</strong>
<a href="{% url 'prose:index' %}">Return to the homepage.</a><br />

{% elif registered %}
pimpMyProse says: <strong>Thank you for registering!</strong> Redirecting in 5 seconds.
<br><br><a href="{% url 'prose:index' %}">Return to the homepage.</a>

<script>
	redirect( "{% url 'prose:index' %}" );
</script>

{% else %}
pimpMyProse says: <strong>Register here!</strong><br />

<form id="user_form" method="post" action="{% url 'prose:register' %}">
	{% csrf_token %}
	
	{{ user_form.as_p }}
	{{ profile_form.as_p }}
	
	<button type="submit" class="btn btn-primary" name="submit" />Register</button>
</form>

{% endif %}

{% endblock %}